.controls {
    position: absolute;
    top: calc($index * 2);
    left: 50%;

    transform: translateX(-50%);


    z-index: 9999;

    &__button {
        margin-left: $index;
        margin-right: $index;

        width: calc($index * 2);

        border: none;
        background-color: transparent;

        transition: all 0.5s;

        &:hover {
            transform: scaleX(1.2);
        }

        &--left {
            transform: scale(-1, 1);

            &:hover {
                transform: scale(-1.2, 1);
            }
        }
    }
}