.projects {
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
    overflow: hidden;
    
    &__title {
        font-size: calc($index * 1.5)
    }
    &__slider {
        flex-grow: 1;
    }


    &-slider {
        overflow-x: hidden;
        overflow-y: auto !important;

        padding-left: 5px;
        padding-right: 5px;
        padding-top: calc($index * 1.4);
        padding-bottom: calc($index * 1.4);

        width: calc($index * 50);
        max-width: 85vw;


        &__wrapper {
            align-items:center;
        }
        &__slide-wrapper {
            display: flex;
            justify-content: center;
            align-items:center;
        }
        &__slide {
            height: 100%;
            
            border-radius: calc($index * 2);
            
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                img {
                    filter: grayscale(0.1);
                    box-shadow: none;

                    transform: translate(2px, 2px);
                }
            }
            img {
                max-height: 100%;
                
                filter: grayscale(1);
                
                transition: all 0.5s;
                
                border-radius: calc($index * 2);
                
                display: block;
                box-shadow: 2px 2px 10px #000;
            }
        }

        &__next, &__prev {
            &:after {
                display: none;
            }
        }
        &__next {
            &:hover {
                animation: arrowToRight 1.5s ease-in-out 0s infinite normal;
            }
        }
        &__prev {
            &:hover {
                animation: arrowToLeft 1.5s ease-in-out 0s infinite normal;
            }
        }
    }
}

@keyframes arrowToRight {
    0% {
        transform: none;
    }
    20% {
        transform: scaleY(0.8) translateX(3px);
    }
    40% {
        transform: scaleY(1);
    }
    60% {
        transform: scaleY(1.2) translateX(-3px);
    }
    80% {
        transform: scaleY(0.8);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes arrowToLeft {
    0% {
        transform: none;
    }
    20% {
        transform: scaleY(0.8) translateX(-3px);
    }
    40% {
        transform: scaleY(1);
    }
    60% {
        transform: scaleY(1.2) translateX(+3px);
    }
    80% {
        transform: scaleY(0.8);
    }
    100% {
        transform: translateX(0px);
    }
}

.swiper-button-disabled {
    opacity: 0 !important;

    transition: all .5s;
}