.whoami {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $index;

    &__img {
        width: calc($index * 16);

        clip-path: polygon(9% 1%, 30% 100%, 15% 0%, 86% 21%, 30% 100%, 100% 15%, 70% 99%, 68% 0, 88% 80%, 15% 100%, 100% 39%, 12% 87%);
    }

    &__right {
        width: calc($index * 29);
    }
    &__title {
        font-size: calc($index * 2);
    }
    &__text {
        margin-top: $index;

        font-size: calc($index / 1.3);
        font-family: 'Tapestry', sans-serif;
    }
}

@media screen and (max-width: 700px) {
    .whoami {
        &__left {
            width: 25%;
        }
        &__img {
            width: auto;
        }
        &__right {
            width: 75%;
        }
    }
}

@media screen and (max-width: 470px) {
    .whoami {
        flex-direction: column;

        &__left {
            align-self: flex-start;

            width: 35%;
        }
        &__right {
            align-self: flex-end;

            width: 100%;
        }
    }
}